* {
    box-sizing: border-box;
    margin: 0px;
    border-radius: 10px;
}
@font-face {
    font-family: digitalFont;
    src: url('assets/digital.woff');
    font-weight: bold;
}
body {
    display:flex;
    justify-content:center;
    align-items:start;
    height: 100vh;
}
.container {
    background-color: rgb(80, 83, 83);
    border: solid 5px rgb(71, 71, 71);
    box-shadow: 10px 10px 5px #3a3939;
    padding: 25px 10px 60px 10px;
    margin-top: 50px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "log log log log"
        "backspace backspace clear clear"
        "one two three plus"
        "four five six minus"
        "seven eight nine multiply"
        "decimal zero equals divide";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.log {
    height: 20px;
    padding: 3px;
    margin-bottom: 5px;
    font-family: digitalFont;
}
.text-field {
    grid-area: log;
    background-color: rgb(81, 126, 92);
    border: solid 2px;
    padding: 5px;
    height: 85px;
}
#input-field {
    grid-area: input;
    background-color: rgb(81, 126, 92);
    height:40px;
    width: 100%;
    font-size: 30px;
    border: none;
    font-family: digitalFont;
}
input:focus {
    outline: none;
}
button {
    height: 50px;
    width: 100%;
    font-size: 30px;
}
.num,.equals {
    background-color: rgb(53, 51, 48);
    color:white;
}
.operator {
    background-color: rgb(206, 202, 202);
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.plus {
    grid-area: plus;
}
.minus {
    grid-area: minus;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.equals {
    grid-area: equals;
}
.clear {
    grid-area: clear;
    background-color: rgb(209, 141, 51);
}
.decimal {
    grid-area: decimal;
}
.backspace {
    grid-area: backspace;
    background-color: rgb(209, 141, 51);
}
