* {
    box-sizing: border-box;
    margin: 0px;
    border-radius: 10px;
}
@font-face {
    font-family: digitalFont;
    src: url('assets/digital.woff');
    font-weight: bold;
}
body {
    background-color: rgb(184, 180, 176);
    display:flex;
    justify-content:center;
    align-items:start;
    height: 100vh;
}
.container {
    flex-shrink: 0;
    width: 400px;
    background-color: rgb(80, 83, 83);
    border: solid 5px rgb(71, 71, 71);
    box-shadow: 10px 10px 5px #3a3939;
    padding: 35px 10px 80px 10px;
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "log log log log"
        "backspace backspace clear clear"
        "one two three plus"
        "four five six minus"
        "seven eight nine multiply"
        "decimal zero equals divide";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.text-field {
    display:flex;
    flex-direction:column;
    grid-area: log;
    background-color: rgb(62, 102, 72);
    border: solid 2px;
    padding: 5px;
    height: 85px;
    margin-bottom: 10px;
}
.log {
    flex:1;
    height: 20px;
    padding: 3px;
    margin-bottom: 5px;
    font-family: digitalFont;
}
#input-field {
    flex: 1;
    grid-area: input;
    background-color: rgb(67, 102, 72);
    height:40px;
    width: 300px;
    font-size: 30px;
    border: none;
    font-family: digitalFont;
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    text-overflow: clip;
}
input:focus {
    outline: none;
}
button {
    height: 70px;
    width: 100%;
    font-size: 30px;
}
.num,.equals,.decimal {
    background-color: rgb(53, 51, 48);
    color:white;
}
.operator {
    background-color: rgb(206, 202, 202);
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}
.zero {
    grid-area: zero;
}
.plus {
    grid-area: plus;
}
.minus {
    grid-area: minus;
}
.multiply {
    grid-area: multiply;
}
.divide {
    grid-area: divide;
}
.equals {
    grid-area: equals;
}
.clear {
    grid-area: clear;
    background-color: rgb(209, 141, 51);
}
.decimal {
    grid-area: decimal;
}
.backspace {
    grid-area: backspace;
    background-color: rgb(209, 141, 51);
}